.start__selections {
  display: none;
  &-logo {
    display: block;
    margin: 8rem auto 0;
  }
  &-menu {
    padding: 2.4rem;
    background-color: var(--color-near-white);
    width: 87%;
    margin: 4.5rem auto 0;
    border-radius: 1rem;

    @media screen and (min-width: 768px) {
      padding: 5.6rem;
      width: 85%;
    }

    @media screen and (min-width: 1024px) {
      width: 45%;
      max-width: 654px;
    }
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-denim);
    z-index: -1;
  }

  &-menuBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4%;
    margin-top: 1.1rem;
    margin-bottom: 2.4rem;

    &Btn {
      font-size: 1.6rem;
      line-height: 2rem;
      color: var(--color-near-white);
      padding: 1.25rem 0;
      background-color: var(--color-beau-blue);
      flex-basis: 50%;

      &:hover {
        background-color: var(--color-air-force-blue);
      }

      &.active {
        background-color: var(--color-prussian-blue);
      }
    }
  }

  &-menuStart {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 1.5rem 0;
    width: 100%;
    margin-top: 0.8rem;
    background-color: var(--color-gold);

    &:hover {
      transform: translateY(-0.25rem);
      background-color: var(--color-gold-light);
    }
  }
}
